.aside {
  background: url("/images/agenda.png");
  display: flex;
  flex-flow: column;
  flex-basis: 100vw;
  height: 100vh;

  @media (min-width: $desktop-breakpoint) {
    flex: 1.7;
  }
}

.aside__header {
  height: $xl-size;
}

.aside__add-contato {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.aside__header {
  background: $grey;
  color: white;
  display: flex;
  height: $xl-size;
  align-items: center;
  justify-content: center;
}
