.aside {
  display: flex;
  flex-flow: column;
  flex-basis: 100vw;
  height: 100vh;

  @media (min-width: $desktop-breakpoint) {
    background: url("/images/agenda.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    flex: 2;
  }
}

.aside__header {
  height: $xl-size;
}

.aside__add-contato {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.aside__header {
  background: $dim-grey;
  display: flex;
  height: $xl-size;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: $font-size-l;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}
