.botao {
  cursor: pointer;
  border: none;
  background: lighten($color: $grey, $amount: 40);
  transition: background 0.3s ease;

  &:hover {
    background: lighten($grey, 30);
  }
  &:active {
    background: lighten($grey, 20);
  }
}

.botao--pequeno {
  @extend .botao;
  height: $l-size;
}

.botao--grande {
  @extend .botao;
  font-size: $font-size-large;
  height: $xl-size;
  width: 100%;
}
