.botao {
  cursor: pointer;
  border: none;
  background: lighten($color: $grey, $amount: 40);
  transition: background 0.3s ease;

  &:hover {
    background: lighten($grey, 30);
  }
  &:active {
    background: lighten($grey, 20);
  }
}

.botao--pequeno {
  @extend .botao;
  height: $l-size;
}

.botao--grande {
  @extend .botao;
  font-size: $font-size-l;
  height: $xl-size;
  width: 100%;
}

.botao__form {
  @extend .botao--pequeno;
  // margin: -5rem 0 $m-size 0;
}

.botao__info {
  border: 1px solid $off-white;
  flex: 1;
}

.botao__info--edit {
  @extend .botao__info;
}

.botao__info--remove {
  @extend .botao__info;
  background: lighten($color: red, $amount: 30);
}
