.form-contato {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-around;
}

.form-contato__file {
  align-items: center;
  border-radius: 50%;
  background: blueviolet;
  display: flex;
  height: 11rem;
  justify-content: center;
  margin: auto;
  width: 11rem;
}

.form-contato__campo {
  height: $xl-size;
  width: 90%;
  input {
    border: none;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    height: $l-size;
    width: 100%;
  }
}
