.form {
  align-items: center;

  background: white;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-around;
}

.form__field {
  width: 90%;
  input {
    border: $normal-border;
    height: $l-size;
    padding-left: $s-size;
    width: 100%;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 40rem;
  }
}

.form__file {
  display: flex;
  justify-content: space-between;
}

.form__foto {
  align-self: center;
  align-items: center;
  border-radius: 50%;
  background: url("/images/camera.png");
  background-position: center center;
  background-size: cover;
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
  justify-content: center;
}

.form__file__desc {
  text-align: center;
}
