.header {
  align-items: center;
  background: red;
  display: flex;
  height: $l-size;
  margin-bottom: $m-size;

  width: 100vw;

  @media (min-width: $desktop-breakpoint) {
    height: $xl-size;
  }

  .header__input {
    border: none;
    font-size: $font-size-large;
    height: inherit;
    outline: none;
    padding-left: 0.6rem;
  }
}
