.lista-contatos {
  display: flex;
  flex: 1;
  flex-flow: column;
  overflow-y: auto;
}

.lista-contatos__pesquisa {
  border-bottom: 2px solid $off-white;
  box-shadow: 0px 1px 1px lighten($color: #000000, $amount: 80);
  height: $xl-size; //50px

  input {
    border: none;
    height: 100%;
    padding-left: $s-size;
    width: 100%;
  }
}

.lista-contatos__item {
  align-items: center;
  border-bottom: 1px solid darken($off-white, 7%);
  display: flex;
  flex-shrink: 0;
  height: 7rem;
  padding: $m-size;
  transition: background 0.3s ease;

  &:hover {
    background: $off-white;
    cursor: pointer;
  }
}

.lista-contatos__nome {
  font-weight: bold;
}

.lista-contatos__email {
  font-style: italic;
}
