.lista-contatos {
  display: flex;
  flex: 1;
  flex-flow: column;
  overflow-y: auto;
}

.lista-contatos__pesquisa {
  background-color: $lavender-grey;
  border-bottom: $normal-border;
  height: $xl-size; //50px
  display: flex;
  padding: $xs-size;

  input {
    border: none;
    border-radius: 5px;
    flex: 1;
    padding-left: $s-size;
  }
}

.lista-contatos__item {
  align-items: center;
  border-bottom: $normal-border;
  display: flex;
  flex-shrink: 0;
  height: 7rem;
  padding: $m-size;
  transition: background 0.3s ease;

  &:hover {
    background: $thistle;
    cursor: pointer;
  }
}

.lista-contatos__nome {
  font-weight: bold;
}

.lista-contatos__email {
  font-style: italic;
}

.lista-contatos__msg {
  align-self: center;
}
