* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

.error {
  color: red;
}

.is-active {
  background: darken($off-white, 10%);
}

.label {
  display: block;
  font-size: $font-size-s;
}
